.InfoBox {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    /* 🔴 search box ke paas */
}

.weather-card {
    max-width: 800px !important;
    border-radius: 18px !important;
    overflow: hidden;
    background: linear-gradient(180deg, #ffffff, #f1f5f9);
    box-shadow: 0 14px 35px rgba(0, 0, 0, 0.25) !important;
}

.weather-image {
    width: 500px;
    height: 150px !important;
    filter: brightness(0.9);
}

.weather-content {
    padding: 16px 20px !important;
}

.city-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0f172a;
    font-weight: 700 !important;
}

.weather-icon {
    color: #a6d6ef;
    font-size: 28px !important;
}

.weather-details p {
    margin: 4px 0;
    font-size: 15px;
    font-weight: 500;
    color: #0a61b7;
}